@import "_colors";
// page utilities
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

h1,
h2,
h3,
a,
p,
label {
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

// container size
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
}

// flex items
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// grid items
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

// main-page
.main-page {
    min-height: 100vh;
}

// content-section utility styles
.content-section {
    background-color: $dark-bg;
    height: 100vh;
    .container {
        padding: 13rem 2rem;
        color: darken($light-gray, 70%);
    }
    .f-paragraph {
        font-size: 1.5rem;
        letter-spacing: 2px;
        margin-bottom: 2rem;
        font-weight: bolder;
    }
    h1 {
        color: $light-font-color;
        font-size: 4rem;
    }
    .c-section-container {
        padding-left: 2rem;
        margin-top: 2rem;
        p {
            color: darken($light-gray, 60%);
            font-size: 1.5rem;
        }
    }
    a {
        display: inline-block;
        color: $yellow-1;
        font-weight: 800;
        padding: 0.5rem;
        border: 1px solid $yellow-1;
        background-color: transparent;
        letter-spacing: 3px;
        width: 20rem;
        margin-top: 4rem;
        text-align: center;
        font-size: 1.5rem;
    }
}

// image-section
.image-section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

// button styles
.btn-1 {
    display: inline-block;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    letter-spacing: 2px;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    color: $purple;
    border: 1px solid $purple;
    transition: all 0.3s ease-in;
}

.btn-1:hover {
    background-color: transparent;
    color: $yellow-1;
    border: 1px solid $yellow-1;
}

// water button styles
.water-btn-1 {
    margin-top: 1.5rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid $light-blue;
    background-color: transparent;
    color: $light-blue;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

.water-btn-1::before {
    content: "";
    position: absolute;
    background-color: $light-blue;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.water-btn-1:hover {
    color: $light-font-color;
}

.water-btn-1:hover::before {
    height: 180%;
}

// humberger-menu opening